# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Nuitka build artifacts
*.build/
*.dist/
*.onefile-build/
*.spec

# Operating System files
Thumbs.db
.DS_Store

# Local binary releases (Must be downloaded from GitHub Releases only)
*.exe
*.msi
!tools/*.exe
